name: Static code analysis Sass

on:
  workflow_call:
    inputs:
      NPM_REGISTRY_DOMAIN:
        description: Domain of the private npm registry.
        default: https://npm.pkg.github.com/
        required: false
        type: string
      NODE_VERSION:
        description: Node version with which the static code analysis is to be executed.
        default: 16
        required: false
        type: string
      STYLELINT_ARGS:
        description: Set of arguments passed to Stylelint.
        default: './resources/**/*.scss'
        required: false
        type: string
      PACKAGE_MANAGER:
        description: Package manager with which the dependencies should be installed (`npm` or `yarn`).
        default: 'yarn'
        required: false
        type: string
      NODE_OPTIONS:
        description: Space-separated list of command-line Node options.
        type: string
        default: ''
        required: false
    secrets:
      NPM_REGISTRY_TOKEN:
        description: Authentication for the private npm registry.
        required: false

jobs:
  static-code-analysis-sass:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: ${{ inputs.NODE_OPTIONS }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_REGISTRY_TOKEN }}
    steps:
      - name: Deprecated warning
        run: echo "::warning::This workflow is deprecated and will be replaced by the wp-scripts-lint-style.yml workflow."

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.NODE_VERSION }}
          registry-url: ${{ inputs.NPM_REGISTRY_DOMAIN }}
          cache: ${{ inputs.PACKAGE_MANAGER }}

      - name: Set up problem matchers for Stylelint
        uses: xt0rted/stylelint-problem-matcher@v1

      - name: Install dependencies
        run: ${{ ((inputs.PACKAGE_MANAGER == 'yarn') && 'yarn') || 'npm install' }}

      - name: Run Stylelint
        run: ./node_modules/.bin/stylelint "${{ inputs.STYLELINT_ARGS }}"
