name: Unit tests PHP

on:
  workflow_call:
    inputs:
      PHP_VERSION:
        description: PHP version with which the assets compilation is to be executed.
        default: '8.0'
        required: false
        type: string
      PHP_MATRIX:
        description: deprecated - Matrix of PHP versions as a JSON formatted object.
        required: false
        type: string
      COMPOSER_ARGS:
        description: Set of arguments passed to Composer.
        default: '--prefer-dist'
        required: false
        type: string
      PHPUNIT_ARGS:
        description: Set of arguments passed to PHPUnit.
        default: '--coverage-text'
        required: false
        type: string
    secrets:
      COMPOSER_AUTH_JSON:
        description: Authentication for privately hosted packages and repositories as a JSON formatted object.
        required: false
      ENV_VARS:
        description: Additional environment variables as a JSON formatted object.
        required: false

jobs:
  tests-unit-php:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: ${{ !inputs.PHP_MATRIX }}
    env:
      COMPOSER_AUTH: '${{ secrets.COMPOSER_AUTH_JSON }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up custom environment variables
        env:
          ENV_VARS: ${{ secrets.ENV_VARS }}
        if: ${{ env.ENV_VARS }}
        uses: actions/github-script@v6
        with:
          script: |
            JSON
              .parse(process.env.ENV_VARS)
              .forEach(envVar => core.exportVariable(envVar.name, envVar.value));

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.PHP_VERSION }}

      - name: Set up problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2
        with:
          composer-options: ${{ inputs.COMPOSER_ARGS }}

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit ${{ inputs.PHPUNIT_ARGS }}

  deprecated-tests-unit-php:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: ${{ inputs.PHP_MATRIX }}
    env:
      COMPOSER_AUTH: '${{ secrets.COMPOSER_AUTH_JSON }}'
    strategy:
      matrix:
        php-version: ${{ fromJSON(inputs.PHP_MATRIX) }}
    steps:
      - name: Deprecation warning
        if: ${{ inputs.PHP_MATRIX }}
        run: echo "::warning::The inputs.PHP_MATRIX is deprecated and will be removed in future. Please use inputs.PHP_VERSION with a matrix in your consuming workflow."

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up custom environment variables
        env:
          ENV_VARS: ${{ secrets.ENV_VARS }}
        if: ${{ env.ENV_VARS }}
        uses: actions/github-script@v6
        with:
          script: |
            JSON
              .parse(process.env.ENV_VARS)
              .forEach(envVar => core.exportVariable(envVar.name, envVar.value));

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Set up problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2
        with:
          composer-options: ${{ inputs.COMPOSER_ARGS }}

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit ${{ inputs.PHPUNIT_ARGS }}
